<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin console</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <center><h1>Proxy admin site.</h1></center>
    </header>
    <main>
        {{ template "content" . }}
    </main>
    <footer>
        <p style="text-align: right; padding: 30px;">&copy; 2025 RuvChain</p>
    </footer>
</body>
</html>
