<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proxy admin</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1 style="text-align: center; margin-top: 50px; padding: 50px;">My WEB site.</h1>
    </header>
    <main>
        <p style="text-align: center;">
            Willcome to my web-server! Now it is under construction.
        </p>
    </main>
    <footer style="margin-bottom: 50px;">
        <p style="text-align: right; padding: 30px;">&copy; 2025 RuvChain</p>
    </footer>
</body>
</html>
